<form ng-submit="$ctrl.login($ctrl.user)">
  <div class="row">
    <div>
      <label for="username">Your username</label>
      <input ng-model="$ctrl.user.username" type="text" name="username" placeholder="ex. matt" id="usernameInput">
    </div>
    <div>
      <label for="password">Your password</label>
      <input ng-model="$ctrl.user.password" type="password" name="password" placeholder="ex. password123" id="passwordInput">
    </div>
    <div class="">
      <button type="submit">Login</button>
    </div>
  </div>
</form>
