<div class="toolbar flex-toolbar">
  <div class="nav-item">
    Filter:
    <input ng-model="searchText" type="text" name="filter"><br>
  </div>

  <div class="nav-item">
    Sort by {{ $ctrl.sortByValue.label }}
    <select ng-model="$ctrl.sortByValue" ng-options="option.label for option in $ctrl.options">
      <option value="">-- Sort --</option>
    </select>
  </div>
  <div>
    <button class="nav-item" type="submit" name="button" ng-click="$ctrl.createFormToggle()">Post New Classified</button>
  </div>
</div>

<form class="form-container" name="$ctrl.createForm" ng-if="$ctrl.showCreateForm" ng-submit="$ctrl.add($ctrl.listing); $event.stopPropagation();">
  <input ng-model="$ctrl.listing.title" type="text" name="title" placeholder="Title"><br><br>
  <textarea ng-model="$ctrl.listing.description" name="description" placeholder="Description"></textarea><br><br>
  <input ng-model="$ctrl.listing.price" type="number" name="price" placeholder="Price"><br><br>
  <input ng-model="$ctrl.listing.item_image" type="text" name="itemImage" placeholder="Image URL"><br>
  <button id="create-btn" type="submit" name="button">Create</button>
</form>

<form class="form-container" name="$ctrl.editForm" ng-if="$ctrl.showEditForm" ng-submit="$ctrl.editListing($ctrl.listing); $event.stopPropagation();">
  <input ng-model="$ctrl.listing.title" type="text" name="title" placeholder="Title"><br><br>
  <textarea ng-model="$ctrl.listing.description" name="description" placeholder="Description"></textarea><br><br>
  <input ng-model="$ctrl.listing.price" type="number" name="price" placeholder="Price"><br><br>
  <input ng-model="$ctrl.listing.item_image" type="text" name="itemImage" placeholder="Image URL"><br>
  <button id="submit-btn" type="submit" name="button">Submit</button>
</form>

<div class="classifieds-container flex">
  <div ng-repeat="listing in $ctrl.listings | orderBy: $ctrl.sortByValue.value :false | filter: searchText" class="listing-container">
    <div class="listing-header center">
      <img id="card-img" ng-src="{{ listing.item_image }}">
    </div>
    <div class="reveal">
      <div class="listing-body">
        <h5>{{ listing.title | limitTo : 20 : 0 }}</h5>
        <p>{{ listing.description | limitTo : 100 : 0 }}... </p>
      </div>
      <div class="listing-footer flex">
        <button class="button button-primary" ng-click="$ctrl.editFormToggle(listing)" type="button" name="edit">Edit</button>
        <button class="button button-primary" ng-click="$ctrl.deleteListing(listing.id)" type="button" name="delete">Delete</button>
      </div>
    </div>
  </div>
</div>
<br>

<div class="buttons-main center">
  <button ng-click="$ctrl.getAll()" type="submit" name="button">Get All Classifieds</button><br><br>
</div>
